<h1 mat-dialog-title>Edit Beer</h1>
<div mat-dialog-content>
  <div class="flex-container">
    <div>
      <form *ngIf="breweryControl" [formGroup]="formGroup">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input required matInput placeholder="Placeholder" formControlName="name">
        </mat-form-field>
        <app-brewery-search class="input-padding" [control]="breweryControl"></app-brewery-search>
        <br>
        <app-beer-type-search [beerTypesControl]="beerTypesControl"></app-beer-type-search>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Color</mat-label>
          <input matInput placeholder="Placeholder" formControlName="color">
        </mat-form-field>
        <mat-form-field class="input-padding" appearance="fill">
          <mat-label>IBU</mat-label>
          <input type="number" matInput placeholder="Placeholder" formControlName="ibu">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Gravity</mat-label>
          <input type="number" matInput placeholder="Placeholder" formControlName="gravity">
        </mat-form-field>
        <mat-form-field class="input-padding" appearance="fill">
          <mat-label>Alcohol Content</mat-label>
          <input type="number" matInput placeholder="Placeholder" formControlName="alcoholContent">
        </mat-form-field>
        <mat-form-field class="input-padding" appearance="fill">
          <mat-label>Fermentation</mat-label>
          <mat-select formControlName="fermentation">
            <mat-option value="TOP">Top</mat-option>
            <mat-option value="BOTTOM">Bottom</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-divider></mat-divider>
        <br>
        <mat-form-field [formGroup]="descriptionGroup" appearance="fill" style="width: 100%">
          <mat-label>Description</mat-label>
          <mat-tab-group animationDuration="0ms">
            <mat-tab label="DE">
              <p>
                <textarea rows="5" matInput placeholder="Placeholder" formControlName="de"></textarea>
              </p>
            </mat-tab>
            <mat-tab label="EN">
              <p>
                <textarea rows="5" matInput placeholder="Description" formControlName="en"></textarea>
              </p>
            </mat-tab>
            <mat-tab label="CZ">
              <p>
                <textarea rows="5" matInput placeholder="Description" formControlName="cz"></textarea>
              </p>
            </mat-tab>
          </mat-tab-group>
        </mat-form-field>
        <br>
        <mat-form-field [formGroup]="foodParingTextGroup" appearance="fill" style="width: 100%">
          <mat-label>Food Pairing</mat-label>
          <mat-tab-group animationDuration="0ms">
            <mat-tab label="DE">
              <p>
                <textarea rows="5" matInput placeholder="Food Pairing" formControlName="de"></textarea>
              </p>
            </mat-tab>
            <mat-tab label="EN">
              <p>
                <textarea rows="5" matInput placeholder="Food Pairing" formControlName="en"></textarea>
              </p>
            </mat-tab>
            <mat-tab label="CZ">
              <p>
                <textarea rows="5" matInput placeholder="Food Pairing" formControlName="cz"></textarea>
              </p>
            </mat-tab>
          </mat-tab-group>
        </mat-form-field>
        <app-ingredient-selects [ingredientsControl]="ingredientsControl"></app-ingredient-selects>
      </form>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div>
      <app-file-upload (filesUploaded)="onImagesChanged($event)"></app-file-upload>
      <mat-grid-list cols="3" >
        <mat-grid-tile *ngFor="let imagePath of imagePaths">
          <button (click)="deleteImage(imagePath)" mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
          <app-beer-image style="height: 200px; width: 100px;" mat-card-image [src]="imagePath"></app-beer-image>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>

<mat-dialog-actions style="float: right">
  <button mat-button class="mat-raised-button mat-primary" (click)="onSave()">Save</button>
  <button mat-dialog-close class="mat-raised-button">Close</button>
</mat-dialog-actions>

