<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">
      <ng-container *ngFor="let column of columns" matColumnDef="{{column.key}}">
        <mat-header-cell *matHeaderCellDef>{{column.title}}</mat-header-cell>
        <ng-container *ngIf="column.type == 'string'">
          <ng-container *ngIf="column.objectKey">
            <mat-cell *matCellDef="let element">{{element[column.key][column.objectKey]}}</mat-cell>
          </ng-container>
          <ng-container *ngIf="!column.objectKey">
            <mat-cell *matCellDef="let element">{{element[column.key]}}</mat-cell>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="column.type == 'number'">
          <mat-cell class="float" *matCellDef="let element">{{element[column.key]}}</mat-cell>
        </ng-container>
        <ng-container *ngIf="column.type == 'percent'">
          <mat-cell *matCellDef="let element">{{element[column.key]}} <span *ngIf="element[column.key]">%</span></mat-cell>
        </ng-container>
      </ng-container>

      <ng-container matColumnDef="actionButtons">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button [routerLink]="['edit/', element.id]" mat-icon-button color="primary">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator *ngIf="total" [pageSize]="pageSize"
                   (page)="onPage($event)"
                   [length]="total"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
</div>
